body {
	  background-color: #111; /* Dark background color */
	    color: #fff; /* Text color */
	      font-family: Arial, sans-serif; /* Set a fallback font-family */
	        margin: 0;
		  padding: 0;
	  }

	  .container {
		    width: 80%;
		      margin: 0 auto;
		        text-align: center;
			  padding-top: 100px; /* Adjust as needed */
		  }

		  h1 {
			    font-size: 3em;
			      margin-bottom: 20px;
		      }

