/* Stars animation for explosion effect */
.stars {
  position: fixed;
  bottom: 0; /* Stars will start from the bottom */
  left: 0;
  right: 0;
  z-index: -1;
}

.stars:before {
  content: " ";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #fff;
  opacity: 0; /* Start with no opacity */
  animation: animateStars 1s linear infinite;
  border-radius: 50%; /* Making stars circular */
}

@keyframes animateStars {
  0% {
    opacity: 1; /* Stars are visible at the start */
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0; /* Stars fade out at the end */
    transform: translateY(-800px) scale(4); /* Move stars upwards and expand */
  }
}
